@import "tailwindcss";

@theme {
    --font-inter: 'Inter', sans-serif;
    --breakpoint-xs: 33rem;
}

@theme {

    @keyframes intro {
        0% {
            opacity: 0;
            transform: translateY(-10px) scale(0.95);
            -webkit-transform: translateY(-10px) scale(0.95);
            -moz-transform: translateY(-10px) scale(0.95);
            -ms-transform: translateY(-10px) scale(0.95);
            -o-transform: translateY(-10px) scale(0.95);
        }

        100% {
            opacity: 1;
            transform: translateY(0px) scale(1);
            -webkit-transform: translateY(0px) scale(1);
            -moz-transform: translateY(0px) scale(1);
            -ms-transform: translateY(0px) scale(1);
            -o-transform: translateY(0px) scale(1);
        }
    }

    @keyframes spinner {
        0% {
            transform: translateX(-50%) rotate(0deg);
            -webkit-transform: translateX(-50%) rotate(0deg);
            -moz-transform: translateX(-50%) rotate(0deg);
            -ms-transform: translateX(-50%) rotate(0deg);
            -o-transform: translateX(-50%) rotate(0deg);
        }

        100% {
            transform: translateX(-50%) rotate(360deg);
            -webkit-transform: translateX(-50%) rotate(360deg);
            -moz-transform: translateX(-50%) rotate(360deg);
            -ms-transform: translateX(-50%) rotate(360deg);
            -o-transform: translateX(-50%) rotate(360deg);
        }
    }

    --animate-intro: intro 0.7s ease-out;
    --animate-spinner: spinner 1s linear infinite;
}

@utility sorting__button {
    @apply text-xs uppercase bg-[#e8edf0] py-1.5 px-2 rounded-sm ml-0.5 cursor-pointer focus:bg-[#d0d5d8] hover:bg-[#d0d5d8] transition-all duration-200;
}

@utility pagination__button {
    @apply text-[10px] bg-[#eceff2] py-1 px-2.5 rounded-4xl text-[#747c82] cursor-pointer focus:bg-[#dde2e6] hover:bg-[#dde2e6] transition-all duration-200;
}